<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/account.css">
    <script type="text/javascript" src="/static/brython/brython.js"></script>
    <script type="text/javascript" src="/static/brython/brython_stdlib.js"></script>
    <title>Sbop - Perfil</title>
</head>

<body onload="brython()">
    <!-- TOP TOOLBAR -->
    <div id="loading-screen">
        <h1>CARREGANDO</h1>
    </div>
    <div class="body-container">
        <div class="body-toolbar">
            <div class="toolbar toolbar-active" id="toolbar-home">
                <h1>Início</h1>
                <p>Informações sobre o jogo</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-account">
                <h1>Conta</h1>
                <p>Criar ou gerenciar sua conta</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-download">
                <h1>Download</h1>
                <p>Baixar e conectar</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-library">
                <h1>Biblioteca</h1>
                <p>Detalhes sobre o conteúdo novo</p>
            </div>
            <hr>
            <div class="toolbar" id="toolbar-team">
                <h1>Equipe</h1>
                <p>Contato e créditos</p>
            </div>
        </div>
        <!-- Floating Popup -->
        <div id="floating-popup">
            <h1>TESTE TESTE</h1>
            <p></p>
            <button>OK</button>
        </div>

        <!-- INICIO CONTAINER -->
        <div class="main-container" id="home-container">
            <div>
                <h2>Escolha uma raça e domine duas classes (?)</h2>
                <p>Os humanóides já saem do primeiro treinamento com uma classe, mas podem dominar uma segunda caso se
                    dediquem o suficiente.</p>
                <img src="../static/images/home/humanoids.webp" alt="Humanoides">
                <p>Cada raça possui habilidades únicas, concendo vantagens específicas</p>
            </div>
            <div class="moonlight-wolf">
                <img src="../static/images/moonlight_wolf.png" alt="Moonlight">
                <h1>Moonlight</h1>
            </div>
            <div>
                <h2>Viva como um monstro e evolua</h2>
                <p>Se alimente de outras criaturas para evoluir, aprimorando
                    seus atributos, modificando sua aparência e ganhando novas habilidades com base na evolução
                    escolhida.</p>
                <img src="../static/images/home/monster.webp" alt="Monstros">
                <p>Como monstro você deve sobreviver em um ambiente hostil desde o início.</p>
            </div>
        </div>
        <!-- CONTA CONTAINER -->
        <div class="main-container" id="account-container">
            <!-- LOGIN -->
            <div id="account-login-container" class="account-containers">
                <form id="login-form" action="javascript:void(0);">
                    <h1>Login</h1>
                    <label for="login-email">E-mail</label>
                    <input type="text" id="login-email" class="login-input" autocomplete="off" required>
            
                    <label for="login-password">Senha</label>
                    <input type="password" id="login-password" class="login-input" required>
            
                    <button id="login-button">Entrar</button>
            
                    <p></p>
                </form>
                <hr>
                <form id="signup-form" action="javascript:void(0);">
                    <h1>Cadastrar</h1>
                    <label for="signup-email">E-mail</label>
                    <input type="email" id="signup-email" required>
            
                    <label for="signup-password">Senha</label>
                    <input type="password" id="signup-password" required>
            
                    <button id="signup-button">Cadastrar</button>
                </form>
            </div>
            <!-- PROFILE -->
            <div id="account-profile-container" class="account-containers">
                <div class="account-characters-container">
                    <button id="new-character-button">Novo Personagem</button>
                </div>
                <hr>
                <div class="new-character-container">
                    <div id="choose-humanoid" class="new-character-choose-type-container" alt="Humanóide">
                        <h1 alt="0">Humanóide</h1>
                        <img src="static/images/humanoids.jpg" alt="0">
                        <p alt="0">Escolha uma raça humanóide, domine uma ou duas classes e use equipamentos poderosos</p>
                    </div>
                    <div id="choose-monster" class="new-character-choose-type-container" alt="Monstro">
                        <h1 alt="1">Monstro</h1>
                        <img src="static/images/monsters.jpg" alt="1">
                        <p alt="1">Escolha um monstro, se alimente dos seus inimigos e evolua</p>
                    </div>
                    <div class="new-character-form">
                    </div>
                </div>
                <div class="character-container">
                    <h1 id="character-name"></h1>
                    <p>Classe: <span id="character-vocation"></span></p>
                    <p>Cidade: <span id="character-city"></span></p>
                    <p>Nível: <span id="character-level"></span></p>
                    <p>Poder Mágico: <span id="character-magic_level"></span></p>
                    <p>Punhos: <span id="character-fist"></span></p>
                    <p>Maça: <span id="character-club"></span></p>
                    <p>Espada: <span id="character-sword"></span></p>
                    <p>Machado: <span id="character-axe"></span></p>
                    <p>Distância: <span id="character-distance"></span></p>
                    <p>Escudo: <span id="character-shield"></span></p>
                    <p>Pescaria: <span id="character-fishing"></span></p>
                </div>
            </div>
            <div id="account-signup-container" class="account-containers">
            
            </div>
        </div>
        <!-- DOWNLOAD CONTAINER -->
        <div class="main-container" id="download-container">
            <h1>DOWNLOAD</h1>
        </div>
        <!-- BIBLIOTECA CONTAINER -->
        <div class="main-container" id="library-container">
            <h1>BIBLIOTECA</h1>
        </div>
        <!-- EQUIPE CONTAINER -->
        <div class="main-container" id="team-container">
            <h1>EQUIPE</h1>
        </div>

    </div>
</body>
<footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/python" src="/static/brython/toolbar.py"></script>
    <script type="text/python" src="/static/brython/home.py"></script>
    <script type="text/python" src="/static/brython/account.py"></script>
</footer>

</html>